 @import url("variables.css");
body,html{
    background-color: var(--color-2);
    color: var(--color-4);
    font-family: 'Poppins', sans-serif;
    /* background: #1e1d2b; */
}
header{
    color: var();
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}
.nav .current_page p a{
    color: var(--color-1);
}
.nav .article_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}
.nav .article_nav section a{
    color: var(--color-4);
}
.main{
}
.main__content{
    display: flex;
    flex-direction: column;
    /* align-: center; */
}
.main__content .home__content{
    display: flex;
    flex-direction: row;
    /* align-: center; */
    justify-content: space-between;
}
/* .main__ .main__current__information{
    display: flex;
    flex-direction: column;
} */
.main__current__image img{
    height: 400px;
    width: ;
}